---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import Panel from "../components/Panel.astro";
import TableOfContents from "../components/TableOfContents.astro";
import { Image } from 'astro:assets';
import { SITE_TITLE } from "../consts.ts";

type Props = CollectionEntry<'blog'>['data'] & {
	headings: { depth: number; slug: string; text: string }[];
};

const { title, description, pubDate, updatedDate, heroImage, headings } = Astro.props;
---

<html lang="en">
<head>
	<BaseHead title={title + " - " + SITE_TITLE} description={description} />
</head>

<body class="flex flex-col min-h-screen">
<Header />

<div class="w-full px-4 mt-16 grow">
	<div class="mx-auto max-w-[95%] md:max-w-[80%]">
		<div class="flex flex-col lg:flex-row gap-8">

			<!-- Left Sidebar: Table of Contents -->
			<aside class="hidden lg:block lg:w-1/4 order-2 lg:order-1">
				<div class="sticky top-28">
					<Panel class="p-4!">
						<TableOfContents headings={headings} />
					</Panel>
				</div>
			</aside>

			<!-- Main Content -->
			<article class="w-full lg:w-3/4 order-1 lg:order-2">
				<Panel>
					<div class="w-full mb-8">
						{heroImage && <Image width={1020} height={510} src={heroImage} alt="" class="rounded-xl shadow-lg w-full object-cover" />}
					</div>

					<div class="prose dark:prose-invert max-w-none">
						<div class="mb-8 text-center">
							<div class="text-zinc-500 dark:text-zinc-400 mb-2">
								<FormattedDate date={pubDate} />
								{
									updatedDate && (
										<div class="italic text-xs mt-1">
											Last updated on <FormattedDate date={updatedDate} />
										</div>
									)
								}
							</div>
							<h1 class="text-4xl font-bold mb-2 leading-tight">{title}</h1>
							<hr class="border-zinc-200 dark:border-white/10 my-4" />
						</div>

						<slot />
					</div>
				</Panel>
			</article>

		</div>
	</div>
</div>
<Footer />
</body>
</html>
